<h1 style="background-color: aqua;">Dashboard</h1>

<div class="btn-group general" role="group">
      <div class="row">
            <div class="col-sm-4 db_btn">
                  <button type="button" class="btn btn-danger db_block1">Left</button>
            </div>

            <div class="col-sm-4 db_btn">
                  <button type="button" class="btn btn-warning db_block2">Middle</button>
            </div>

            <div class="col-sm-4 db_btn">
                  <button type="button" class="btn btn-success db_block3">Right</button>
            </div>

      </div>
      
</div>