{{!-- <footer>
      <h3>Điểm Danh Sinh Viên</h3>
      <div>
            <ul class="foot-info">
                  <li>Contact us</li>
                  <li>Email: cusc@123gmail.com</li>
                  <li class="bi bi-telephone"></li>
                  <li>Phone: </i>
            </ul>
      </div>
</footer> --}}
<footer class="foot">

        <div class="foot-info">
           
            <ul> 
                  <li> 
                        <img src="/img/logo_aptech.png" alt="Logo" width="102" height="39">
                        <span><a href="">CUSC</a></span>
                  </li>

                  <li>
                        <i class="fas fa-envelope footer-icon">
                        <span>Email:  tuyensinh@cusc.ctu.edu.vn</span></i></li>
                  <li>
                        <i class="fas fa-phone footer-icon">
                        <span>Phone:  0292 383 5581</span></i></li>
                  <li>
                        <i class="fas fa-map-marker-alt footer-icon">
                              <span><a id="foot-link-map" href="https://www.google.com/maps/search/Khu+III,+%C4%90%E1%BA%A1i+H%E1%BB%8Dc+C%E1%BA%A7n+Th%C6%A1,+01+L%C3%BD+T%E1%BB%B1+Tr%E1%BB%8Dng,+Q.+Ninh+Ki%E1%BB%81u,+TP.+C%E1%BA%A7n+Th%C6%A1/@10.0223546,105.7600403,14z/data=!3m1!4b1?entry=ttu">
                              Address: Khu III, Đại Học Cần Thơ, 01 Lý Tự Trọng, Q. Ninh Kiều, TP. Cần Thơ</a></span></i></li>       
            </ul>

            <div id="foot-right"><p>CUSC APTECH &copy; 2022</p></div>
        </div>
    </footer>