<!-- As a link -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand logo-ctu" href="#">
      <img src="/img/logo_aptech.png" alt="Logo" width="137" height="62" class="d-inline-block align-text-top">
      <span>Student Attendance</span>
    </a>
  </div>
</nav>